

<div class='container'>

	<div class='row'>

		<div class='col-sm-12 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4'>

			<br>
			<h1 class='color1 title'>Target City: <%= @target_city %></h1>
			<h1 class='color1 title'>Results For: <%= @results['city']['name']%>, <%= @results['city']['country']%></h1>
			<hr class='highlight'>
				<h3 class='color2 title subFont'>16 Day Weather Forecast</h3><br>

				<!-- @count is ERB templated into each bootstrap div to ensure correct open / collapse functionality -->
				<% @count = 0 %>
				<% @results['list'].each do |a| %>

						<div class="panel-group" id=<%= @count %>>
						  <div class="panel panel-default">
						    <div class="panel-heading">      
						        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent=#<%= @count %> href=#collapse<%= @count %>>
						          <h4 class="panel-title"> <%= Time.at(a['dt']).to_date %><span class='pull-right'><%= a['temp']['day'] %>°</span></h4>
						        </a>      
						    </div>
						    <div id=collapse<%= @count %> class="panel-collapse collapse">
						      <div class="panel-body">
						      		<h4>Description: <%= a['weather'][0]['description'] %></h4>
						      		<h5>Minimum: <%= a['temp']['min'] %>°</h5>
						      		<h5>Maximum: <%= a['temp']['max'] %>°</h5>
						      		<h5>Morning Temp: <%= a['temp']['morn'] %>°</h5>
						      		<h5>Evening Temp: <%= a['temp']['eve'] %>°</h5>
						      		<h5>Night Time Temp: <%= a['temp']['night'] %>°</h5>		
						      </div>
						    </div>
						  </div>
						</div>

					<!-- increment counter to ensure accordion display works properly -->
					<% @count += 1 %>		

				<% end %>

			<%= render "shared/footer" %>
				
		<!-- Div below for GRID SYSTEM -->
		</div>

	<!-- Div below for ROW class  -->
	</div>	

<!-- Div below for CONTAINER class -->
</div>